@import url('https://fonts.googleapis.com/css?family=Lato');

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(91, 191, 224);
}
.content{
    margin: 100vh;
}

.full{
}

.bar{
    color: rgb(93, 248, 209);
}
table{
    border: 1px;
    border-block-color: rgb(182, 241, 19);
}